body {
    margin: 0;
max-width: 100vw;
    background-color: black;
}

img {
    width: 100%;
}

.lehmann{
    width: 75px;
    height: 75px;
}

.lehmann img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}