body {
    margin: 0;
max-width: 100vw;
    background-color: black;
}

img {
    width: 100%;
}

.lehmann{
    width: 75px;
    height: 75px;
}

.lehmann img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    z-index: 10;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 350px;
    color: white;
    border-color: blueviolet;
    border-radius: 20px;
    background-color: rgb(155, 76, 229);
    padding: 4px 8px;
}

.btn a {
    color: white;
}

a{
    text-decoration: none;
}